<div id='heading'>
	<div id='logo'><a href='{{site.url}}'>{{site.blog_title}}</a></div>
	<nav id="global">
    <ul>
	    <li><a href="/">TOP</a></li>
			<li><a href="http://www.mof-mof.co.jp/">mofmof inc.</a></li>
			<li><a href="/scikit-learn.html">scikit-learn docs</a></li>
			<li><a href="/tensorflow.html">tensorflow docs</a></li>
			<li><a href="https://www.mof-mof.co.jp/recruit/">採用情報</a></li>
	    <li><a href="http://www.mof-mof.co.jp/contact">お問い合わせ</a></li>
    </ul>
	</nav>
	<div id='links'>
		<a href='https://github.com/{{site.github}}' >
			<span class="icon-github" ></span>
		</a> |
		<a href='https://twitter.com/{{site.twitter}}' class="icon-twitter"></a> |
		<a href='{{site.twitter}}' class="icon-linkedin"></a>
	</div>
