<html>
	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/socialicious.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!--<link rel="stylesheet" type="text/css" href="/css/monokai.css">-->
		<link rel="stylesheet" type="text/css" href="/css/tommorow_night_blue.css">
		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{page.title}} - {{ site.blog_title }}</title>
		<script type="text/javascript" src='/js/highlight.pack.js'></script>
		<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
		<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>
	<body>
		<div id='layout'>
			{% include header.html %}


			<div style='clear: both'></div>
		</div>
		<div id='content'>
			<div id='page'>
				<h1 id='page-title'>{{page.title}}</h1>
				<div class="ninja_onebutton">
					<script type="text/javascript">
					//<![CDATA[
					(function(d){
					if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_fa51a609479d0ef694d7d59dd1ef2d29)=='undefined'){
					        document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/fa51a609479d0ef694d7d59dd1ef2d29'><\/sc"+"ript>");
					}else{
					    window.NINJA_CO_JP_ONETAG_BUTTON_fa51a609479d0ef694d7d59dd1ef2d29.ONETAGButton_Load();}
					})(document);
					//]]>
					</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
				</div>

				{{content}}

				<div class="ninja_onebutton">
					<script type="text/javascript">
					//<![CDATA[
					(function(d){
					if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_fa51a609479d0ef694d7d59dd1ef2d29)=='undefined'){
									document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/fa51a609479d0ef694d7d59dd1ef2d29'><\/sc"+"ript>");
					}else{
							window.NINJA_CO_JP_ONETAG_BUTTON_fa51a609479d0ef694d7d59dd1ef2d29.ONETAGButton_Load();}
					})(document);
					//]]>
					</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
				</div>

				<div>
					{% include comment.html %}
				</div>

				<div class="additional">
					<iframe frameborder='0' height='305px' name='wantedly_project_widget_80431' scrolling='no' src='https://www.wantedly.com/projects/80431/widget' style='border: none; max-width: 100%; min-width: 240px; width: 300px;'></iframe>
					<iframe frameborder='0' height='305px' name='wantedly_project_widget_83336' scrolling='no' src='https://www.wantedly.com/projects/83336/widget' style='border: none; max-width: 100%; min-width: 240px; width: 300px;'></iframe>
					<!-- <a href="http://www.recruit.mof-mof.co.jp/" target="_blank"><image alt="ものづくりが好きで、自分で事業を作ってみたいエンジニア募集" src="/images/bunner_recruit.jpg"></image></a> -->
				</div>
			</div>
			<div id='side-bar'>
				<div id='user'>
					<img id="user-pic" src="{{site.authors[page.author].img_name_path}}" />
					<div id='user-name'>{{site.authors[page.author].name}}</div>
				</div>
				<div id='date'>
					{{ page.date | date: "%B %d, %Y"}}
				</div>
				<br>
				<br>
				<div id='date'>
					{{site.authors[page.author].aboutme}}
				</div>
				<div id='tags'>
					{% for tag in page.tags %}
						<div> <span class='tag {{tag | downcase }}'>{{tag}}</span> </div>
					{% endfor %}
				</div>
				<hr />
				<div>
					<p>開発の相談・問い合わせはWEBサイトから</p>
					<p><a href="http://www.mof-mof.co.jp/" class="custom-link" target="_blank">http://www.mof-mof.co.jp/</a></p>
					<iframe frameborder='0' height='305px' name='wantedly_project_widget_80431' scrolling='no' src='https://www.wantedly.com/projects/80431/widget' style='border: none; max-width: 100%; min-width: 240px; width: 540px;'></iframe>
					<iframe frameborder='0' height='305px' name='wantedly_project_widget_83336' scrolling='no' src='https://www.wantedly.com/projects/83336/widget' style='border: none; max-width: 100%; min-width: 240px; width: 540px;'></iframe>
					<iframe frameborder='0' height='305px' name='wantedly_project_widget_80246' scrolling='no' src='https://www.wantedly.com/projects/80246/widget' style='border: none; max-width: 100%; min-width: 240px; width: 540px;'></iframe>
					<hr style="width:100%;" />
					<!-- <p><a href="http://www.recruit.mof-mof.co.jp/" target="_blank"><image alt="ものづくりが好きで、自分で事業を作ってみたいエンジニア募集" src="/images/bunner_recruit.jpg"></image></a></p> -->
					<div class="fb-page" data-href="https://www.facebook.com/myope.bot/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/myope.bot/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/myope.bot/">社内問い合わせ専用 人工知能チャットBotサービス My-ope office</a></blockquote></div>
					<p><a href="http://www.mof-mof.co.jp/contact" target="_blank"><image alt="開発の相談・お問い合わせ" src="/images/banner01.png"></image></a></p>
					<!-- <a href="http://line.me/ti/p/%40bew9898j"><img height="36" border="0" alt="友だち追加" src="http://biz.line.naver.jp/line_business/img/btn/addfriends_en.png"></a> -->
					</p>
				</div>
			</div>
			<div style='clear:both'></div>
		</div>
		{% include footer.html %}
	</div>
	{% include googleana.html %}
</body>
</html>
